<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body> -->
    <h1>Welcome to my photo site</h1>
    <% @photos.each do |photo| %> <!--looping through photos and each time inject some html -->
      <div>
        <h3><a href="/photos/<%= photo[:id]%>"><%= photo[:title]%></a></h3>
        <img src="<%= photo[:img] %>" alt="">
      </div>
    <% end %>
  <!-- </body>
</html> -->

<!--cos of layout page we dont need all the stuff i just commented out anymore-->
